$misc: (
    hint-text: #d9d5d5
);

$neutral-palette: (
    text: #202121,
    surface: #bbbdbd,
    body: #ececec
);

$success-palette: (
    text: #428c4c,
    surface: #c1fbc8,
    body: #e3ffe6
);